.hero {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.hero-content__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 4rem;
}

.hero-content__name {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--play-fair);
  color: var(--dark);
  margin-bottom: 0.5rem;
}

.hero-content__job {
  font-family: var(--poppins);
  font-size: 24px;
  text-transform: capitalize;
}

.hero-content__about {
  font-size: 16px;
  font-family: var(--poppins);
  margin-top: 8px;
}

.hero-content__btn {
  border: none;
  text-transform: capitalize;
  padding: 12px;
  margin-top: 1rem;
  width: 150px;
  border-radius: 4px;
  background-color: var(--primary);
  color: var(--dark);
  font-family: var(--poppins);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content__btn:hover {
  background: var(--secondary);
  color: var(--white);
}

.hero-profile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero-profile__container {
  width: 250px;
  height: 250px;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 1rem 4rem;
}

.hero-profile__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  scale: 1;
}

.hero-profile__sosmed {
  display: flex;
  width: 100%;
  justify-content: center;
}

.hero-profile__sosmed-wrapper {
  display: flex;
}

.hero-profile__sosmed-wrapper li {
  margin: 0 8px;
}
.hero-profile__sosmed-wrapper li a {
  width: 40px;
  height: 40px;
}

.hero-profile__sosmed-wrapper li a img {
  width: 24px;
  height: 24px;
}

/* laptop and desktop */
@media screen and (min-width: 640px) {
  .hero {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .hero-content__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;
  }

  .hero-content__name {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--play-fair);
    color: var(--dark);
    margin-bottom: 0.5rem;
  }

  .hero-content__job {
    font-family: var(--poppins);
    font-size: 24px;
    text-transform: capitalize;
  }

  .hero-content__about {
    font-size: 16px;
    font-family: var(--poppins);
    margin-top: 8px;
  }

  .hero-content__btn {
    border: none;
    text-transform: capitalize;
    padding: 12px;
    margin-top: 1rem;
    width: 150px;
    border-radius: 4px;
    background-color: var(--primary);
    color: var(--dark);
    font-family: var(--poppins);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-content__btn:hover {
    background: var(--secondary);
    color: var(--white);
  }

  .hero-profile__container {
    width: 350px;
    height: 350px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 5rem;
  }

  .hero-profile__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    scale: 1;
  }
  .hero-profile {
    display: flex;
    flex-wrap: nowrap;
  }

  .hero-profile__sosmed {
    width: 100px;
  }

  .hero-profile__sosmed-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
  }

  .hero-profile__sosmed-wrapper li {
    margin: 8px 0;
  }

  .hero-profile__sosmed-wrapper li a img {
    width: 32px;
    height: 32px;
  }
}

/* laptop and desktop */
@media screen and (min-width: 1024px) {
  .hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .hero-content__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;
  }

  .hero-content__name {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--play-fair);
    color: var(--dark);
    margin-bottom: 0.5rem;
  }

  .hero-content__job {
    font-family: var(--poppins);
    font-size: 24px;
    text-transform: capitalize;
  }

  .hero-content__about {
    font-size: 16px;
    font-family: var(--poppins);
    margin-top: 8px;
  }

  .hero-content__btn {
    border: none;
    text-transform: capitalize;
    padding: 12px;
    margin-top: 1rem;
    width: 150px;
    border-radius: 4px;
    background-color: var(--primary);
    color: var(--dark);
    font-family: var(--poppins);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-content__btn:hover {
    background: var(--secondary);
    color: var(--white);
  }

  .hero-profile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-profile__container {
    width: 350px;
    height: 350px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 1rem 5rem 1rem 1rem;
  }

  .hero-profile__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    scale: 1;
  }

  .hero-profile__sosmed {
    width: 200px;
  }
  .hero-profile__sosmed-wrapper {
    display: flex;
    flex-direction: column;
  }
  .hero-profile__sosmed-wrapper {
    display: flex;
    flex-direction: column;
  }

  .hero-profile__sosmed-wrapper li {
    margin: 8px 0;
  }

  .hero-profile__sosmed-wrapper li a img {
    width: 32px;
    height: 32px;
  }
}
